html, body {
    width: 300px;
}

#controls div {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    background-color: #E5F2F2;
    cursor: pointer;
}

#controls div:hover {
    background-color: #CFF2F2;
}